@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap');

:root {
  --primary-color: #00ed82;
}

/* General Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: 'Rubik', sans-serif;
  background: #000;
  color: #fff;
  line-height: 1.7;
  overflow-x: hidden;
  padding-bottom: 1000px;
}

ul {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #ccc;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

h3 {
  font-size: 26px;
  font-weight: 300;
}

h4 {
  color: var(--primary-color);
  font-size: 13px;
  text-transform: uppercase;
}

/* Utilities */
.text-xl {
  font-size: 70px;
  font-weight: bold;
}

.sub-text {
  font-size: 24px;
  margin-bottom: 10px;
  max-width: 850px;
}

/* Header Styles */
.header {
  background: url(../img/header.jpg) no-repeat center / cover;
  height: 530px;
}

.header nav {
  display: flex;
  justify-content: flex-end;
  padding: 20px 40px;
}

.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 180px;
  z-index: 1;
  background: linear-gradient(
    180deg,
     rgba(0, 0, 0, 0.76) 15.4%,
     rgba(0, 0, 0, 0.192) 60.23%,
     rgba(0, 0, 0, 8e-5) 100%)
}

.header .login-btn {
  border: none;
  background: transparent;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 13.333px;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.hero-logo {
  width: 270px;
  margin: 20px 0;
}

.hero-text-1 {
  font-size: 22px;
  font-weight: bold;
}

.hero-text-2 {
  font-size: 18px;
  margin: 25px 0;
}

.hero-button {
  background-color: #fff;
  border-radius: 5px;
  border: none;
  line-height: 14px;
  padding: 20px 32px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #111;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.hero-button:hover {
  transform: scale(1.02);
}

.legal-text {
  font-size: 10px;
  color: #ccc;
  margin: 20px 0;
}

/* Sub Header Styles */
.sub-header {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  gap: 40px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(318.68deg, #0f495c 0%, #0d3640 49.72%, #08141f 100%);
  padding: 30px 40px;
}

.sub-header-bundle {
  justify-self: flex-end;
  align-items: flex-end;
  text-align: center;
  margin-top: 9px;
}

.sub-header-bundle .bundle-btn {
  padding: 20px 32px;
  background: none;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 15px;
  display: inline-block;
  cursor: pointer;
  line-height: 14px;
  min-width: 135px;
}

.sub-header-bundle .terms-btn,
.sub-header-main a {
  display: block;
  color: #ccc;
  font-size: 12px;
  text-decoration: underline;
  margin-top: 5px;
}

.bundle-btn:hover {
  border-color: #ccc;
}

/* Categories Styles */
.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 90px 40px;
}

.covers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 40px;
  position: relative;
}

.covers-gradient {
  position: absolute;;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    156.82deg,
    rgba(0, 0, 0, 0.6) 4.58%,
    rgba(0, 0, 0, 0) 69.61%
),
  linear-gradient(24.5deg, rgba(0, 0, 0, 0.2) 4.71%, rgba(0, 0, 0, 0) 71.49%);
}

.cover-1 {
  width: 300px;
  height: 500px;
  background: url(../img/cover-1.jpg) no-repeat center center / cover;
  position: relative;
}

.cover-2 {
  width: 300px;
  height: 500px;
  background: url(../img/cover-2.jpg) no-repeat center center / cover;
  position: relative;
}

.cover-3 {
  width: 300px;
  height: 500px;
  background: url(../img/cover-3.jpg) no-repeat center center / cover;
  position: relative;
}

.cover-4 {
  width: 300px;
  height: 500px;
  background: url(../img/cover-4.jpg) no-repeat center center / cover;
  position: relative;
}

.cover-info {
  position: absolute;
  text-align: left;
  top: 20px;
  left: 20px;
}

.cover-info .sub-title {
  font-size: 16px;
}

.cover-info h3 {
  font-size: 26px;
}

/* Live Styles */
.live {
  background-color: #151516;
  padding: 40px;
}

.live-border {
  border: 4px solid #1ce783;
  border-radius: 16px;
  padding: 100px;
  text-align: center;
}

.live-border .sub-text {
  margin: auto;
  margin-bottom: 20px;
}

.live-border a {
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 18px;
  margin-top: 20px;
}

.live-border .legal-text {
  margin-top: 20px;
}

/* Live Sports Styles */

.live-sports {
  background: url(../img/live-sports.jpg) no-repeat center center / cover;
  background-color: #fff;
  height: 800px;
  position: relative;
}

.live-sports-content {
  max-width: 550px;
  position: absolute;
  top: 160px;
  left: 100px;
}

.live-sports-logos {
  display: flex;
  width: 300px;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.live-sports-logos > div {
  background: url(../img/network-logo-bg.png) no-repeat center center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}

.live-sports-logos img {
  width: 40px;
}

/* Footer Styles */
.footer {
  background-color: #ebedf2;
}

.footer a {
  color: #333;
}

.footer-lead {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
}

.footer-content {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.divider {
  margin: 30px 0;
  height: 3px;
  width: 100%;
  border: 1px solid #ccc;
}

.social-icons img {
  width: 25px;
  height: 25px;
  margin-right: 25px;
}

/* Modal Styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal-box {
  background-color: #fff;
  position: relative;
  margin: 10% auto;
  margin-bottom: 0;
  width: 400px;
  padding: 50px;
}

.modal-box h3 {
  color: #333;
  font-weight: bold;
}

.modal-box label {
  color: #333;
  font-size: 16px;
  display: block;
  text-transform: uppercase;
}

.modal-box input {
  width: 100%;
  height: 50px;
  border: 2px solid #ccc;
  padding: 5px;
}

.form-row {
  margin: 20px 0;
}

.modal-btn {
  width: 100%;
  margin-top: 30px;
  background-color: #000;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  padding: 20px 32px;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
  text-align: center;
  cursor: pointer;
}

.modal-box img {
  position: absolute;
  width: 23px;
  height: 23px;
  top: 20px;
  right: 20px;
}

.reset {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-link {
  text-align: center;
  color: steelblue;
}

.reset-link:hover,
.modal-footer a:hover {
  color: steelblue;
  opacity: 0.9;
}

.modal-footer {
  padding: 20px 0;
  background-color: #f7f7f9;
  margin: auto;
  width: 400px;
  text-align: center;
}

.modal-footer p {
  color: #333;
}

.modal-footer a {
  color: #4682b4;
}

/* Media Queries */
@media(max-width: 768px) {
  .hero-logo {
    width: 200px;
  }

  .hero-content {
    text-align: center;
    margin-top: 30px;
    padding: 20px;
  }

  .hero-text-1 {
    margin-bottom: 40px;
  }

  .hero-text-2 {
    display: none;
  }

  .sub-header {
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;
  }

  .sub-header img {
    width: 250px;
    justify-self: center;
  }

  .sub-header-bundle {
    justify-self: center;
    margin-top: 0;
  }

  .categories {
    flex-direction: column;
  }

  .text-xl {
    font-size: 40px;
    line-height: 1.3;
  }

  .sub-text {
    font-size: 20px;
  }

  .covers {
    grid-template-columns: 1fr;
  }

  .live-border {
    padding: 30px 10px;
  }
}